<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet/createPost.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kreon:wght@300..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/797e28e901.js" crossorigin="anonymous"></script>
    <script defer src="javascript/fileUpload.js"></script>
</head>

<body>

    <div class="main">
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-people-group"></i>
                        <p class="nav-text">Community</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <p class="nav-text">Adoption</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-square-plus"></i>
                        <p class="nav-text">Create post</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-user"></i>
                        <p class="nav-text">Profile</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-gear"></i>
                        <p class="nav-text">Setting</p>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="wrapper">
            <div class="align-content">
                <div class="title-container">
                    <h1>Create post</h1>
                </div>
                <form class="layout-grid">
                    <div class="left">
                        <div class="drop-zone">
                            <span class="drop-zone__prompt">Add image to post</span>
                            <input type="file" name="myFile" class="drop-zone__input">
                        </div>
                    </div>
                    <div class="small-screen">
                        <button type="submit" class="custom-btn">Post</button>
                    </div>
                    <div class="right">
                        <div class="input-post">
                            <label for=" title" class="custom-label post-label">Title</label>
                            <br>
                            <input type="text" name="title" class="create-post-input" placeholder="Title">
                            <br>
                            <label for="description" class="custom-label post-label">Description</label>
                            <br>
                            <textarea name="description" class="create-post-input" placeholder="Description" cols="3" rows="5"></textarea>
                            <br>
                            <button type="submit" class='custom-btn disapear-small'>Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>

</html>